@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', Arial, sans-serif;
    font-weight: 300; /* Use 300 for thinner text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EEF7FF;
    box-sizing: border-box;
}

/* Logo */
img {
    max-width: 15%;
    height: auto;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Input Fields */
input {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 30px;
}

/* Buttons */
button {
    width: 110%;
    padding: 10px 15px;
    margin: 15px 0;
    border: none;
    border-radius: 50px;
    background-color: #0064E0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: rgb(26, 107, 220);
    transform: scale(0.98);
}

/* Forgotten Password */
h5 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #4E606C;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Removes underline */
}

h5:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Footer */
footer {
    margin-top: -10px;
    font-size: 12px;
    color: #606770;
    text-align: center;
}

/* Small Text */
h6 {
    font-size: 14px;
    color: #606770;
    margin-bottom: 20px;
}

/* Create New Account Container */
#CNA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

/* Create New Account Button */
#CNA button {
    width: 100%; /* Set to 100% for proper alignment */
    max-width: 400px; /* Optional: limit max width */
    background-color: transparent;
    border: 1px solid #0064E0;
    color: #0064E0;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 75px;
    cursor: pointer;
    transition: transform 0.3s ease;
    white-space: nowrap;
}

#CNA button:hover {
    transform: scale(0.98);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile-First Design */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    form {
        padding: 15px;
    }
    
    input, button {
        font-size: 16px;
    }
    
    h5 {
        font-size: 14px;
    }
    
    footer {
        font-size: 10px;
    }
}

/*PC Design*/
@media only screen and (min-width: 768px) {
    input, button {
        font-size: 20px;
    }

    img {
        max-width: 5%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 70px;
    }
    
}